* {
  box-sizing: border-box;
}
.login-txt {
  color: rebeccapurple;
  align-self: flex-start;
  font-size: 18px;
}
.login-body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-container {
  padding: 10px 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.login-form {
  display: grid;
  grid-template-columns: 100px 180px;
  row-gap: 12px;
  column-gap: 10px;
}
