.meal-card {
  display: flex;
  flex-direction: column;
  width: 75vw;
  aspect-ratio: 3/4;
  border-radius: 15px;
  box-shadow: 1px 1px 1px rgb(188, 188, 188);
  background-color: white;
}
.meal-card.selected {
  border: 1px solid green;
  box-shadow: 0 0 50px 10px #48abe0;
}
/* meal card disabled */
.meal-card.disabled {
  pointer-events: none;
  cursor: not-allowed;
}
.meal-card.grayedOut {
  opacity: 0.4;
  filter: grayscale(1);
}
.meal-title-cnt {
  border-radius: 15px 15px 0 0;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}
.meal-title {
  display: flex;
  flex-direction: row;
}

.variant {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 16px;
}

.meal-indicator {
  display: inline-block;
  width: 14px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.meal-indicator.veg {
  background-color: #16a34a;
}

.meal-indicator.non-veg {
  background-color: #dc2626;
}
.meal-name {
  font-size: 19px;
  font-weight: bold;
  color: white;
  overflow-wrap: break-word;
  /* word-break: break-all; */
  /* text-align: center; */
}

.meal-actions {
  padding: 10px;
  background-color: white;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

/* count buttons */
.count-cnt {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-evenly;
  width: 100%;
}
.count-btn {
  width: max-content !important;
  font-size: 20px;
  border-radius: 15px;
  --btn-bg: #16a34a;
  --btn-hover: #15803d;
  --btn-focus: #86efac;
}
.count-value {
  color: black;
  font-size: large;
}
.food-img {
  width: 70px;
}

.select-btn {
  width: calc(100% - 5%);
}
.btn-base.btn-selected {
  --btn-bg: #15803d;
}
/* to overide styles locally example */
.meal-actions .btn-positive {
  /*  --btn-bg: #22c55e;
  --btn-hover: #16a34a; */
}

.food-card-grid {
  padding-block: 20px;
  justify-items: center;
  justify-content: start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}
