.meal-preview-section {
  padding: 20px;
}
.chooseDay {
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 50px;
  width: max-content;
  padding: 10px;
}
.selectDay {
  border-color: var(--color-card-bg-light);
  padding: 5px;
  box-shadow: 1px 1px 3px lightsteelblue;
}
.loading-submited-meals {
  padding-block: 25px;
  display: flex;
  justify-content: center;
}
.noItemsAdded {
  padding-block: 75px;
}

.filtered-items {
  margin-block: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filter-header {
  display: flex;
  align-items: center;
  column-gap: 20px;
  flex-wrap: wrap;
}
.filterlist-card-cnt {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.filterlist-menu-card {
  background-color: var(--color-card-bg-light);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* border: 1px solid var(--color-btn-border-gray); */
  padding: 10px 20px;
  border-radius: 15px;
  gap: 2px;
  width: max-content;
}
