.submission-summary {
  border: 1px solid lightgray;
  box-shadow: 1px 4px 15px lightgray;
  padding: 19px 30px;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  max-width: 100%;
  background-color: hsl(120, 73%, 75%);
}
.submission-summary.optedOut {
  /* background-color: rgb(237, 150, 150); */
  background-color: hsl(48, 73%, 75%);
}
.submission-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
