.employee-dash {
  /* background-color: rgb(231, 231, 231); */
  min-height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: calc(50px + 24px);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.center-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
