.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout {
  width: 90px;
}

.welcome {
  font-size: 17px;
}

.user-name {
  /* font-size: 25px; */
  font-family: var(--font-primary);
  text-transform: capitalize;
  font-weight: 600;
}
