.dialog-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog-cnt {
  background-color: white;
  border: 1px solid hsla(0, 0%, 50%, 0.492);
  box-shadow: 0px 1px 30px hsla(180, 25%, 25%, 0.5);
  border-radius: 15px;
  min-width: 300px;
  max-width: 90%;
  display: flex;
  font-family: var(--font-primary);
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  width: max-content;
  padding: 10px 30px;
  gap: 10px;
}
.close-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  border-radius: 50%;
  background: #eae6e3;
  border: none;
  /* color: #9b8573; */
  height: 19px;
  aspect-ratio: 1/1;
  font-size: 16px;
  box-shadow: 1px 2px 4px darkslategray;
  cursor: pointer;
}
.close-btn:active {
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}
.btns-cnt {
  display: flex;
  gap: 10px;
  flex-direction: row;
  padding-top: 20px;
}
/* buttons styling */
.cancel-btn {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  --btn-hover: #f34075;
}
.cancel-btn:hover {
  color: white;
  border-color: gray;
}

.imp-note {
  color: rgb(189, 24, 24);
  padding-top: 10px;
}
