.snackbar {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 14px;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.snackbar.default {
  background-color: #323232;
  color: black !important;
}
.snackbar.error {
  background-color: rgb(134, 25, 25);
}
