.meals-cnt-title {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start; */
  padding-block: 20px;
}
.btn-container {
  display: flex;
  gap: 10px;
  padding-block: 10px;
  flex-wrap: wrap;
}
.base-card {
  max-width: 150px;
  height: 90px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.deadline {
  background-color: var(--color-deadline-bg);
  max-width: 190px;
  align-items: start;
  min-width: max-content;
}
.vote-ends-in {
  background-color: var(--color-vote-ends-bg);
}

.btn-container.invisible {
  display: none;
}
.btn-base {
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: black;
}
.btn-base.base-card.btn-negative {
  font-weight: bold;
}
