.meals-cnt-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-block: 20px;
  flex-wrap: wrap;
}
.btn-container {
  display: flex;
  gap: 10px;
  padding-block: 10px;
}
.base-card {
  width: 40vw;
  height: 90px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vote-ends-in {
  background-color: orange;
}

.btn-container.invisible {
  display: none;
}
.btn-base {
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: black;
}
